%notosans {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 400;
}

%notosans-bold {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 700;
}

%roboto {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
}

%roboto-bold {
  font-family: Roboto, sans-serif !important;
  font-weight: 700;
}

%mix-font {
  font-family: Roboto, 'Noto Sans JP', sans-serif !important;
  font-weight: 400;
}
